@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --frozen-lake: #70d6ff;
    --rose-kiss: #ff70a6;
    --tangerine-dream: #ff9770;
    --royal-gold: #ffd670;
    --lime-cream: #e9ff70;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@theme {
  --color-puzzle-bg: #1a1a1a;
  --color-puzzle-glass: rgba(255, 255, 255, 0.05);
  --color-puzzle-blue: #3a7bd5;
  --color-puzzle-cyan: #00d2ff;
  --color-puzzle-highlight: #67e8f9;
}
